Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license
  language: system
  args:
  - --license-base64
  - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
  - --dynamic-years
  - --comment-style
  - '#'

docformatter:
  name: docformatter
  entry: pixi run -e lint docformatter
  args:
  - -i
  language: system

black-conda:
  name: black-conda
  entry: pixi run -e lint black
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e default mypy
  language: system
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

prettier:
  name: prettier
  entry: pixi run -e lint prettier
  language: system
  args:
  - --write
  - --list-different
  - --ignore-unknown

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

Update metalearners/metalearner_grid_search_cv.py
  metalearners/metalearner_grid_search_cv.py
Due: insert-license, docformatter, black-conda, mypy, typos

Rename module
  CHANGELOG.rst
  conda.recipe/recipe.yaml
  metalearners/grid_search.py
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, prettier, typos

Reuse typing
  metalearners/grid_search.py
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Expect explicit dimensions in reshaping.
  metalearners/cross_fit_estimator.py
Due: insert-license, docformatter, black-conda, mypy, typos

Expect explicit dimensions in reshaping. (#35)
  metalearners/cross_fit_estimator.py
Due: insert-license, docformatter, black-conda, mypy, typos

Adapt illustrations.
  docs/imgs/component_eval.drawio.svg
  docs/imgs/component_reuse.drawio.svg
  docs/imgs/covariate_sets.drawio.svg
Due: typos

Use widetilde.
  docs/imgs/covariate_sets.drawio.svg
Due: typos

Rename T to W in docs (#36)
  docs/imgs/component_eval.drawio.svg
  docs/imgs/component_reuse.drawio.svg
  docs/imgs/covariate_sets.drawio.svg
Due: typos

Use three nested levels to allow different grids
  metalearners/grid_search.py
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add survival analysis example
  data/readme.md
  data/rossi.csv
  docs/examples/example_survival.ipynb
  docs/examples/index.rst
Due: prettier, typos

Draft Onnx TLearner
  metalearners/_utils.py
  metalearners/metalearner.py
  metalearners/tlearner.py
  pixi.lock
  pixi.toml
Due: insert-license, docformatter, black-conda, mypy, typos

Update lock.
  pixi.lock
Due: typos

Add tests
  metalearners/metalearner.py
  metalearners/tlearner.py
  tests/test_tlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix parameters to avoid some warnings
  tests/test_tlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add test for categorical features
  tests/test_tlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Rename variable
  tests/test_tlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Increase lower bound on sklearn. (#31)
  CHANGELOG.rst
  pixi.lock
  pixi.toml
  pyproject.toml
Due: typos

Implement onnx XLearner and tests
  metalearners/_utils.py
  metalearners/metalearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/conftest.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Refactor
  metalearners/metalearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update docs/examples/example_survival.ipynb
  docs/examples/example_survival.ipynb
Due: typos

Add plot text
  docs/examples/example_survival.ipynb
Due: typos

Fix glossary reference
  docs/examples/example_survival.ipynb
Due: typos

Add week units
  docs/examples/example_survival.ipynb
Due: typos

Use smaller trees and share bins
  docs/examples/example_survival.ipynb
Due: typos

Fix mypy errors
  docs/examples/example_survival.ipynb
Due: typos

Fix import location
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Implement onnx RLearner and tests
  metalearners/rlearner.py
  tests/test_rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix atol
  tests/test_rlearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove skip as fixed
  tests/test_tlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove old code
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Disable cv to be able to reuse models
  metalearners/grid_search.py
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add text about reusage in docs
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Move development section to readme
  README.md
  docs/development.rst
  docs/index.rst
Due: prettier, typos

Add test propensity model reuse
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix indent
  README.md
Due: prettier, typos

Test console
  README.md
Due: prettier, typos

Path conditions:
  insert-license: any of: \.py$, but not: ^\.pixi
  docformatter: any of: \.py$, but not: ^\.pixi
  black-conda: any of: \.py$, but not: ^\.pixi
  mypy: any of: \.py$, but not: ^\.pixi
  prettier: any of: \.(md|yml|yaml)$, but not: ^\.pixi
  typos: any of: not (\.csv$), but not: ^\.pixi
