Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license
  language: system
  args:
  - --license-base64
  - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
  - --dynamic-years
  - --comment-style
  - '#'

docformatter:
  name: docformatter
  entry: pixi run -e lint docformatter
  args:
  - -i
  language: system

black-conda:
  name: black-conda
  entry: pixi run -e lint black
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e default mypy
  language: system
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

prettier:
  name: prettier
  entry: pixi run -e lint prettier
  language: system
  args:
  - --write
  - --list-different
  - --ignore-unknown

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

Add changelog and docu
  CHANGELOG.md
  docs/api_documentation.md
  docs/changelog.md
Due: prettier, typos

Beautiful highlight for target
  docs/styles/custom.css
Due: typos

Port development to md
  docs/development.md
  docs/development.rst
Due: prettier, typos

Port glossary to md
  docs/glossary.md
  docs/glossary.rst
Due: prettier, typos

Port glossary to md
  docs/parallelism.md
  docs/parallelism.rst
  mkdocs.yml
Due: prettier, typos

Format bullets as headings to be able to link to them
  docs/faq.md
Due: prettier, typos

Fix links
  docs/parallelism.md
Due: prettier, typos

fix symlink
  docs/changelog.md
Due: prettier, typos

Index page for examples
  docs/examples/index.md
Due: prettier, typos

Index more like sphinx
  docs/index.md
Due: prettier, typos

Add checkboxes example in motivation
  docs/motivation.md
  mkdocs.yml
Due: prettier, typos

Fix enumeration
  docs/parallelism.md
Due: prettier, typos

Add 'development' to nav
  mkdocs.yml
Due: prettier, typos

Add missing links to glossary
  docs/background.md
Due: prettier, typos

Fix some math
  docs/background.md
Due: prettier, typos

Adapt readthedocks
  .readthedocs.yml
  pixi.toml
Due: prettier, typos

Fix links
  docs/examples/index.md
  docs/index.md
  docs/index.rst
  docs/motivation.md
Due: prettier, typos

Fix links
  docs/background.md
  docs/motivation.md
  docs/parallelism.md
Due: prettier, typos

Remove custom target css, add note what this css selector does
  docs/styles/custom.css
Due: typos

Fix math and math in enumerations (with indentation)
  docs/background.md
Due: prettier, typos

Enable sphinx-like behavior through mkdocstrings-python extension
  mkdocs.yml
  pixi.lock
  pixi.toml
Due: prettier, typos

Adapt pixi doc-related tasks
  .readthedocs.yml
  pixi.toml
Due: prettier, typos

Remove index.rst again.
  docs/examples/index.rst
Due: typos

Use list like format as in sphinx
  docs/faq.md
Due: prettier, typos

Mirror sphinx layout
  docs/index.md
Due: prettier, typos

Actual indent
  docs/index.md
Due: prettier, typos

Add checkboxes in motivation part
  docs/motivation.md
Due: prettier, typos

Revert
  docs/faq.md
Due: prettier, typos

Indent
  docs/parallelism.md
Due: prettier, typos

Prettier
  CHANGELOG.md
  docs/examples/index.md
Due: prettier, typos

Update docs/styles/custom.css
  docs/styles/custom.css
Due: typos

Rename variables in reuse example.
  docs/examples/example_reuse.ipynb
Due: typos

Rename variables in reuse example. (#95)
  docs/examples/example_reuse.ipynb
Due: typos

Appease mypy.
  metalearners/_utils.py
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Translate 'motivation' to markdown
  docs/motivation.md
  docs/motivation.rst
Due: prettier, typos

Add mkdocs deps and 'mkdocs' task.
  pixi.lock
  pixi.toml
Due: typos

Dedent
  docs/background.md
Due: prettier, typos

Translate 'faq' to markdown
  docs/faq.md
  docs/faq.rst
Due: prettier, typos

Path conditions:
  insert-license: any of: \.py$, but not: ^\.pixi
  docformatter: any of: \.py$, but not: ^\.pixi
  black-conda: any of: \.py$, but not: ^\.pixi
  mypy: any of: \.py$, but not: ^\.pixi
  prettier: any of: \.(md|yml|yaml)$, but not: ^\.pixi
  typos: any of: not (\.csv$), but not: ^\.pixi
