Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: insert-license
        name: insert-license
        entry: pixi run -e lint insert-license
        types: [python]
        language: system
        args:
          - --license-base64
          - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
          - --dynamic-years
          - --comment-style
          - "#"
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter
        args: [-i]
        types: [python]
        language: system
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: black-conda
        name: black-conda
        entry: pixi run -e lint black
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier
        language: system
        files: \.(md|yml|yaml)$
        types: [text]
        args: ["--write", "--list-different", "--ignore-unknown"]
      - id: trailing-whitespace
        name: trim trailing whitespace
        language: system
        entry: pixi run -e lint trailing-whitespace-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        language: system
        entry: pixi run -e lint end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-merge-conflict
        name: check for merge conflicts
        language: system
        entry: pixi run -e lint check-merge-conflict
        types: [text]
        args: ["--assume-in-merge"]
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Update metalearners/rlearner.py
  metalearners/rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix variable names
  metalearners/rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update metalearners/metalearner.py
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix variable names
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Reuse ONNX_PROBABILITIES_OUTPUTS
  metalearners/_utils.py
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Rename _validate_feature_set_all and error
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update tests/test_rlearner.py
  tests/test_rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use itertools.repeat
  tests/test_drlearner.py
  tests/test_rlearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Implement necessary_onnx_models
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Raise error multiclass
  metalearners/drlearner.py
  metalearners/rlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix pchs
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

`MetaLearnerGridSearch` example (#49)
  .github/workflows/ci.yml
  docs/_static/custom.css
  docs/conf.py
  docs/examples/example_gridsearch.ipynb
  docs/examples/example_optuna.ipynb
  docs/examples/index.rst
Due: insert-license, docformatter, black-conda, mypy, prettier, typos

Add censoring weights
  docs/examples/example_survival.ipynb
  pixi.lock
  pixi.toml
Due: typos

Update changelog.
  CHANGELOG.rst
Due: typos

Add trigger.
  .github/workflows/package.yml
Due: prettier, typos

Add trigger. (#55)
  .github/workflows/package.yml
Due: prettier, typos

Specify OIDC permissions and GitHub environment.
  .github/workflows/package.yml
Due: prettier, typos

Specify OIDC permissions and GitHub environment. (#56)
  .github/workflows/package.yml
Due: prettier, typos

Fix numpy - pandas conversion
  docs/examples/example_lime.ipynb
Due: typos

Address issue #47
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update CHANGELOG
  CHANGELOG.rst
Due: typos

Add test
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add comment
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update CHANGELOG.rst
  CHANGELOG.rst
Due: typos

Fix order
  metalearners/grid_search.py
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix index columns order for `MetaLearnerGridSearch.results_` (#58)
  CHANGELOG.rst
  metalearners/grid_search.py
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Implement adaptive clipping switch
  metalearners/drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add adaptive clipping parameter to init and test
  metalearners/drlearner.py
  tests/test_drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add docstring
  metalearners/drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add errors in outcome validation and tests
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix numpy - pandas conversion (#57)
  docs/examples/example_lime.ipynb
Due: typos

Fix failing test
  tests/test_learner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Implement adaptive clipping switch (#59)
  CHANGELOG.rst
  metalearners/drlearner.py
  tests/test_drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos
