Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: insert-license
        name: insert-license
        entry: pixi run -e lint insert-license
        types: [python]
        language: system
        args:
          - --license-base64
          - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
          - --dynamic-years
          - --comment-style
          - "#"
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter
        args: [-i]
        types: [python]
        language: system
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: black-conda
        name: black-conda
        entry: pixi run -e lint black
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier
        language: system
        files: \.(md|yml|yaml)$
        types: [text]
        args: ["--write", "--list-different", "--ignore-unknown"]
      - id: trailing-whitespace
        name: trim trailing whitespace
        language: system
        entry: pixi run -e lint trailing-whitespace-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        language: system
        entry: pixi run -e lint end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-merge-conflict
        name: check for merge conflicts
        language: system
        entry: pixi run -e lint check-merge-conflict
        types: [text]
        args: ["--assume-in-merge"]
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Update metalearners/_narwhals_utils.py
  metalearners/_narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Apply pchs.
  metalearners/_narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Restore typical line break behavior in code output
  docs/styles/custom.css
  mkdocs.yml
Due: prettier, typos

Check for null values in nw one-hot-encoding.
  metalearners/_narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use md instead of rst in docstrings.
  metalearners/_narwhals_utils.py
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Hotfix issue regarding interaction between lightgbm and polars.
  pixi.lock
  pixi.toml
Due: typos

Add todo.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update lock.
  pixi.lock
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix test.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use `narwhals` for DataFrame logic (#100)
  metalearners/_narwhals_utils.py
  metalearners/_typing.py
  metalearners/_utils.py
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/utils.py
  metalearners/xlearner.py
  pixi.lock
  pixi.toml
  tests/test__narwhals_utils.py
  tests/test__utils.py
  tests/test_cross_fit_estimator.py
  tests/test_learner.py
  tests/test_metalearner.py
  tests/test_slearner.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Annotate type hint to appease mypy.
  metalearners/data_generation.py
Due: insert-license, docformatter, black-conda, mypy, typos

Switch from black to ruff-format.
  .pre-commit-config.yaml
  data/download_twins.py
  metalearners/_utils.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  pixi.lock
  pixi.toml
  tests/test_slearner.py
Due: insert-license, docformatter, black-conda, mypy, prettier, typos

Update changelog.
  CHANGELOG.md
Due: prettier, typos

Add workflow to compute OpenSSF scorecard
  .github/workflows/scorecard.yml
Due: prettier, typos

Add workflow to compute OpenSSF scorecard (#109)
  .github/workflows/scorecard.yml
Due: prettier, typos

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/package.yml
Due: prettier, typos

[StepSecurity] ci: Harden GitHub Actions (#111)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/package.yml
Due: prettier, typos

Add a Security Policy
  SECURITY.md
Due: prettier, typos

Add a Security Policy (#112)
  SECURITY.md
Due: prettier, typos

Upper-bound skl2onnx.
  pixi.lock
  pixi.toml
Due: typos

Update lock and add pins for onnx-related packages.
  pixi.lock
  pixi.toml
Due: typos

Update lock and add pins for onnx-related packages. (#114)
  pixi.lock
  pixi.toml
Due: typos

Migrate to hatchling.
  pixi.lock
  pixi.toml
  pyproject.toml
Due: typos

Migrate to hatchling. (#117)
  pixi.lock
  pixi.toml
  pyproject.toml
Due: typos

Fix dependabot configuration.
  .github/dependabot.yml
Due: prettier, typos

Fix dependabot configuration. (#118)
  .github/dependabot.yml
Due: prettier, typos

Apply pchs
  docs/background.md
Due: prettier, typos

Enable Python 3.13
  .github/workflows/ci.yml
  pixi.lock
  pixi.toml
Due: prettier, typos

Enable Python 3.13 (#124)
  .github/workflows/ci.yml
  pixi.lock
  pixi.toml
Due: prettier, typos

Only import polars during static analysis in _typing.
  metalearners/_typing.py
Due: insert-license, docformatter, black-conda, mypy, typos

Replace polars-specific logic by narwhals logic.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add narwhals as a run dependency
  pyproject.toml
Due: typos

Remove `polars` as a run dependency (#125)
  metalearners/_typing.py
  metalearners/_utils.py
  pyproject.toml
Due: insert-license, docformatter, black-conda, mypy, typos

Actually remove pl import.
  metalearners/_typing.py
Due: insert-license, docformatter, black-conda, mypy, typos

Actually remove pl import (#126)
  metalearners/_typing.py
Due: insert-license, docformatter, black-conda, mypy, typos
