Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license
  language: system
  args:
  - --license-base64
  - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
  - --dynamic-years
  - --comment-style
  - '#'

docformatter:
  name: docformatter
  entry: pixi run -e lint docformatter
  args:
  - -i
  language: system

black-conda:
  name: black-conda
  entry: pixi run -e lint black
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e default mypy
  language: system
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

prettier:
  name: prettier
  entry: pixi run -e lint prettier
  language: system
  args:
  - --write
  - --list-different
  - --ignore-unknown

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

Adapt readthedocks
  .readthedocs.yml
  pixi.toml
Due: prettier, typos

Add 'development' to nav
  mkdocs.yml
Due: prettier, typos

Fix links
  docs/examples/index.md
  docs/index.md
  docs/index.rst
  docs/motivation.md
Due: prettier, typos

Adapt pixi doc-related tasks
  .readthedocs.yml
  pixi.toml
Due: prettier, typos

Fix links
  docs/background.md
  docs/motivation.md
  docs/parallelism.md
Due: prettier, typos

final touches
  CHANGELOG.rst
  docs/examples/example_estimating_ates.ipynb
  docs/examples/example_sparse_inputs.ipynb
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

add support for sparse X (#86)
  CHANGELOG.rst
  docs/examples/example_estimating_ates.ipynb
  docs/examples/example_sparse_inputs.ipynb
  docs/examples/index.rst
  metalearners/_typing.py
  metalearners/_utils.py
  metalearners/cross_fit_estimator.py
  metalearners/drlearner.py
  metalearners/explainer.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/utils.py
  metalearners/xlearner.py
  tests/test_cross_fit_estimator.py
  tests/test_learner.py
  tests/test_metalearner.py
  tests/test_slearner.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add tests for index_matrix and index_vector.
  metalearners/_utils.py
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add tests for index_matrix and index_vector. (#89)
  metalearners/_utils.py
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add polars as dependency.
  pixi.lock
  pixi.toml
Due: typos

rename indices to mask
  metalearners/metalearner.py
  metalearners/xlearner.py
  tests/test_learner.py
Due: insert-license, docformatter, black-conda, mypy, typos

add CHANGELOG.rst entry
  CHANGELOG.rst
Due: typos

rename additional variables in tlearner.py and update CHANGELOG.rst
  CHANGELOG.rst
  metalearners/metalearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

rename missed variables
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

change indice to mask in drlearner.py and update CHANGELOG.rst
  CHANGELOG.rst
  docs/api/metalearners.cross_fit_estimator.rst
  docs/api/metalearners.data_generation.rst
  docs/api/metalearners.drlearner.rst
  docs/api/metalearners.explainer.rst
  docs/api/metalearners.grid_search.rst
  docs/api/metalearners.metalearner.rst
  docs/api/metalearners.outcome_functions.rst
  docs/api/metalearners.rlearner.rst
  docs/api/metalearners.rst
  docs/api/metalearners.slearner.rst
  docs/api/metalearners.tlearner.rst
  docs/api/metalearners.utils.rst
  docs/api/metalearners.xlearner.rst
  docs/api/modules.rst
  docs/examples/model.onnx
  metalearners/drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

remove changelog entry for 0.12.0 and files in docs/api
  CHANGELOG.rst
  docs/api/metalearners.cross_fit_estimator.rst
  docs/api/metalearners.data_generation.rst
  docs/api/metalearners.drlearner.rst
  docs/api/metalearners.explainer.rst
  docs/api/metalearners.grid_search.rst
  docs/api/metalearners.metalearner.rst
  docs/api/metalearners.outcome_functions.rst
  docs/api/metalearners.rlearner.rst
  docs/api/metalearners.rst
  docs/api/metalearners.slearner.rst
  docs/api/metalearners.tlearner.rst
  docs/api/metalearners.utils.rst
  docs/api/metalearners.xlearner.rst
  docs/api/modules.rst
Due: typos

Rename `indices` to `mask`. Closes issue #91 (#92)
  docs/examples/model.onnx
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/test_learner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update changelog.
  CHANGELOG.rst
  docs/examples/model.onnx
Due: typos

Add polars datastructures to Vector and Matrix type definitions.
  metalearners/_typing.py
Due: insert-license, docformatter, black-conda, mypy, typos

Help mypy with to_numpy.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Appease mypy.
  metalearners/_utils.py
  metalearners/data_generation.py
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add tests.
  metalearners/_utils.py
  metalearners/metalearner.py
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix order of arguments.
  README.md
Due: prettier, typos

Fix order of arguments. (#93)
  README.md
Due: prettier, typos

Dedent
  docs/background.md
Due: prettier, typos

Add katex
  docs/javascripts/katex.js
  mkdocs.yml
Due: prettier, typos

first version of mk
  docs/background.md
Due: prettier, typos

Fix subscript
  docs/background.md
Due: prettier, typos

Remove sphinx remnant
  docs/conf.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update math
  docs/background.md
  docs/background.rst
Due: prettier, typos

Remove sphinx specific stuff
  docs/Makefile
  docs/_static/custom.css
  docs/make.bat
Due: typos

Add configuration to demonstrate rendering a jupyter notebook
  docs/examples/index.md
  docs/index.md
  docs/styles/custom.css
  mkdocs.yml
Due: prettier, typos

Add mkdocs deps and 'mkdocs' task.
  pixi.lock
  pixi.toml
Due: typos

Translate 'motivation' to markdown
  docs/motivation.md
  docs/motivation.rst
Due: prettier, typos

Fix list intendation
  docs/background.md
Due: prettier, typos

Reindent, remove escaped subscript
  docs/background.md
Due: prettier, typos

Custom gitignore for docs
  docs/.gitignore
Due: typos

Reorder examples to match order in sphinx. Skip costly optuna jn execution.
  docs/examples/index.md
  mkdocs.yml
Due: prettier, typos

Translate 'faq' to markdown
  docs/faq.md
  docs/faq.rst
Due: prettier, typos

Remove sphinx specific formatting, adjust heading syntax
  docs/examples/example_basic.ipynb
Due: typos

Path conditions:
  insert-license: any of: \.py$, but not: ^\.pixi
  docformatter: any of: \.py$, but not: ^\.pixi
  black-conda: any of: \.py$, but not: ^\.pixi
  mypy: any of: \.py$, but not: ^\.pixi
  prettier: any of: \.(md|yml|yaml)$, but not: ^\.pixi
  typos: any of: not (\.csv$), but not: ^\.pixi
