Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: insert-license
        name: insert-license
        entry: pixi run -e lint insert-license
        types: [python]
        language: system
        args:
          - --license-base64
          - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
          - --dynamic-years
          - --comment-style
          - "#"
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter
        args: [-i]
        types: [python]
        language: system
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: black-conda
        name: black-conda
        entry: pixi run -e lint black
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier
        language: system
        files: \.(md|yml|yaml)$
        types: [text]
        args: ["--write", "--list-different", "--ignore-unknown"]
      - id: trailing-whitespace
        name: trim trailing whitespace
        language: system
        entry: pixi run -e lint trailing-whitespace-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        language: system
        entry: pixi run -e lint end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-merge-conflict
        name: check for merge conflicts
        language: system
        entry: pixi run -e lint check-merge-conflict
        types: [text]
        args: ["--assume-in-merge"]
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Change explanation return type from pandas.DataFrame to dict.
  metalearners/explainer.py
  metalearners/metalearner.py
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add changelog entry.
  CHANGELOG.md
Due: prettier, typos

Change explanation return type from pandas.DataFrame to dict. (#127)
  CHANGELOG.md
  metalearners/explainer.py
  metalearners/metalearner.py
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, prettier, typos

Address narwhal's soft deprecation of native_namespace
  metalearners/_narwhals_utils.py
  metalearners/slearner.py
  tests/test__narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix benchmark environment.
  pixi.lock
  pixi.toml
Due: typos

Address mypy complaint.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix benchmark (#129)
  metalearners/metalearner.py
  pixi.lock
  pixi.toml
Due: insert-license, docformatter, black-conda, mypy, typos

Update lower bound on narwhals.
  pixi.lock
  pixi.toml
  pyproject.toml
Due: typos

Address `narwhals` soft deprecation of `native_namespace` (#128)
  metalearners/_narwhals_utils.py
  metalearners/slearner.py
  pixi.lock
  pixi.toml
  pyproject.toml
  tests/test__narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Drastically increase tolerances for onnx-model output comparison.
  tests/test_drlearner.py
  tests/test_rlearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Drastically increase tolerances for onnx-model output comparison. (#131)
  tests/test_drlearner.py
  tests/test_rlearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix onnx conversion
  docs/examples/example_onnx.ipynb
  pixi.lock
  pixi.toml
  tests/test_drlearner.py
  tests/test_rlearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix xlearner
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix rlearner tests
  tests/test_rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix onnx conversion (#133)
  docs/examples/example_onnx.ipynb
  pixi.lock
  pixi.toml
  tests/test_drlearner.py
  tests/test_rlearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Auto-update benchmarks/readme.md
  benchmarks/readme.md
Due: prettier, typos

Apply pchs.
  benchmarks/readme.md
Due: prettier, typos

Add pixi environments for narwhals 2.0
  .github/workflows/ci.yml
  pixi.lock
  pixi.toml
Due: prettier, typos

No longer force usage of v1 in imports.
  metalearners/_narwhals_utils.py
  metalearners/_utils.py
  metalearners/metalearner.py
  metalearners/slearner.py
  tests/test__narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Allow for `narwhals` 2.0 (#138)
  .github/workflows/ci.yml
  metalearners/_narwhals_utils.py
  metalearners/_utils.py
  metalearners/metalearner.py
  metalearners/slearner.py
  pixi.lock
  pixi.toml
  tests/test__narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, prettier, typos

Run pre-commit hooks after benchmarking.
  .github/workflows/benchmarks.yml
Due: prettier, typos

Ignore pch failure
  .github/workflows/benchmarks.yml
Due: prettier, typos

Run pre-commit hooks after benchmarking. (#139)
  .github/workflows/benchmarks.yml
Due: prettier, typos

execute with dot-slash
  pixi.toml
Due: typos

Refine wording in theoretical properties
  docs/examples/example_feature_importance_shap.ipynb
Due: typos

Refine wording in theoretical properties (#145)
  docs/examples/example_feature_importance_shap.ipynb
Due: typos

Update pixi lock
  data/download_twins.py
  docs/examples/example_lime.ipynb
  metalearners/_utils.py
  pixi.lock
  pixi.toml
  pyproject.toml
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update pixi lock
  data/download_twins.py
  metalearners/_utils.py
  pixi.lock
  pixi.toml
  pyproject.toml
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Upper bound xgboost
  pixi.lock
  pixi.toml
Due: typos

Update lock
  pixi.lock
Due: typos

Try forcing openblas
  pixi.lock
  pixi.toml
Due: typos

Fix reference in changelog
  CHANGELOG.md
Due: prettier, typos

Update pixi lock (#151)
  CHANGELOG.md
  data/download_twins.py
  docs/examples/example_lime.ipynb
  metalearners/_utils.py
  pixi.lock
  pixi.toml
  pyproject.toml
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, prettier, typos

Clean up minor details
  .github/PULL_REQUEST_TEMPLATE.md
  metalearners/py.typed
  pyproject.toml
Due: prettier, typos

Clean up minor details (#152)
  .github/PULL_REQUEST_TEMPLATE.md
  metalearners/py.typed
  pyproject.toml
Due: prettier, typos
