Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: insert-license
        name: insert-license
        entry: pixi run -e lint insert-license
        types: [python]
        language: system
        args:
          - --license-base64
          - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
          - --dynamic-years
          - --comment-style
          - "#"
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter
        args: [-i]
        types: [python]
        language: system
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: black-conda
        name: black-conda
        entry: pixi run -e lint black
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier
        language: system
        files: \.(md|yml|yaml)$
        types: [text]
        args: ["--write", "--list-different", "--ignore-unknown"]
      - id: trailing-whitespace
        name: trim trailing whitespace
        language: system
        entry: pixi run -e lint trailing-whitespace-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        language: system
        entry: pixi run -e lint end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-merge-conflict
        name: check for merge conflicts
        language: system
        entry: pixi run -e lint check-merge-conflict
        types: [text]
        args: ["--assume-in-merge"]
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Increase radius to avoid nan
  tests/test_drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add value proposition and example to readme. (#44)
  README.md
Due: prettier, typos

Remove git_root from packaged modules.
  benchmarks/benchmark.py
  metalearners/_utils.py
  tests/conftest.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use pixi for benchmarking.
  .github/workflows/benchmarks.yml
  benchmarks/environment.yml
  benchmarks/readme.md
  pixi.toml
Due: prettier, typos

Remove run dependency from pyproject.toml.
  pyproject.toml
Due: typos

Add changelog entry.
  CHANGELOG.rst
Due: typos

Fix typo.
  CHANGELOG.rst
Due: typos

Update pixi.toml
  pixi.toml
Due: typos

Update lock.
  pixi.lock
Due: typos

Remove `git_root` from packaged modules (#45)
  CHANGELOG.rst
  benchmarks/benchmark.py
  metalearners/_utils.py
  pyproject.toml
  tests/conftest.py
Due: insert-license, docformatter, black-conda, mypy, typos

Rephrase docs
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Spacing docs
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Implement MetaLearnerGridSearch (#9)
  CHANGELOG.rst
  metalearners/_utils.py
  metalearners/grid_search.py
  metalearners/metalearner.py
  tests/conftest.py
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use pixi for benchmarking. (#46)
  .github/workflows/benchmarks.yml
  benchmarks/environment.yml
  benchmarks/readme.md
  pixi.lock
  pixi.toml
Due: prettier, typos

Move data generation to fixture
  tests/conftest.py
  tests/test_drlearner.py
  tests/test_rlearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Abstract method and raise error for SLearner
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix score time
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix score time (#48)
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Example gridsearch
  docs/conf.py
  docs/examples/example_gridsearch.ipynb
  docs/examples/example_optuna.ipynb
  docs/examples/index.rst
Due: insert-license, docformatter, black-conda, mypy, typos

CSS file
  docs/_static/custom.css
Due: typos

Fix mypy using tags
  .github/workflows/ci.yml
  docs/examples/example_gridsearch.ipynb
Due: prettier, typos

Fix nuisance -> treatment
  docs/examples/example_reuse.ipynb
Due: typos

Change tag for removing when converting to avoid not running the cell
  .github/workflows/ci.yml
  docs/examples/example_gridsearch.ipynb
Due: prettier, typos

Fix nuisance -> treatment (#50)
  docs/examples/example_reuse.ipynb
Due: typos

Update docs/examples/example_gridsearch.ipynb
  docs/examples/example_gridsearch.ipynb
Due: typos

Add docstrings
  metalearners/_utils.py
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix spacing
  metalearners/drlearner.py
  metalearners/rlearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update metalearners/rlearner.py
  metalearners/rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos
