Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, prettier, typos

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license
  language: system
  args:
  - --license-base64
  - IyBDb3B5cmlnaHQgKGMpIFF1YW50Q28gMjAyNC0yMDI0CiMgU1BEWC1MaWNlbnNlLUlkZW50aWZpZXI6IEJTRC0zLUNsYXVzZQo=
  - --dynamic-years
  - --comment-style
  - '#'

docformatter:
  name: docformatter
  entry: pixi run -e lint docformatter
  args:
  - -i
  language: system

black-conda:
  name: black-conda
  entry: pixi run -e lint black
  language: system
  require_serial: true

prettier:
  name: prettier
  entry: pixi run -e lint prettier
  language: system
  args:
  - --write
  - --list-different
  - --ignore-unknown

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

Fix typo.
  .github/workflows/ci.yml
Due: prettier, typos

Explain coverage
  docs/examples/example_lime.ipynb
Due: typos

Improve LIME plots explanation
  docs/examples/example_lime.ipynb
Due: typos

Disable Windows tests.
  .github/workflows/ci.yml
  pixi.lock
Due: prettier, typos

Improve FAQ
  docs/faq.rst
Due: typos

Update docs/examples/example_basic.ipynb
  docs/examples/example_basic.ipynb
Due: typos

Fix docs
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, typos

Remove redundant reference to lint environment.
  .github/workflows/benchmarks.yml
Due: prettier, typos

Fix docs (#25)
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, typos

Improve docs (#21)
  docs/background.rst
  docs/examples/example_basic.ipynb
  docs/examples/example_feature_importance_shap.ipynb
  docs/examples/example_lime.ipynb
  docs/faq.rst
  docs/glossary.rst
Due: typos

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: prettier, typos

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: prettier, typos

Replace license headers.
  benchmarks/benchmark.py
  data/download_twins.py
  docs/conf.py
  metalearners/__init__.py
  metalearners/_typing.py
  metalearners/_utils.py
  metalearners/cross_fit_estimator.py
  metalearners/data_generation.py
  metalearners/drlearner.py
  metalearners/explainer.py
  metalearners/metalearner.py
  metalearners/outcome_functions.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/utils.py
  metalearners/xlearner.py
  tests/conftest.py
  tests/test__utils.py
  tests/test_cross_fit_estimator.py
  tests/test_data_generation.py
  tests/test_learner.py
  tests/test_metalearner.py
  tests/test_outcome_functions.py
  tests/test_rlearner.py
  tests/test_slearner.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, typos

Replace double quotes by single quotes.
  .github/workflows/ci.yml
Due: prettier, typos

Migrate to pixi (#12)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  benchmarks/benchmark.py
  data/download_twins.py
  docs/conf.py
  environment.yml
  metalearners/__init__.py
  metalearners/_typing.py
  metalearners/_utils.py
  metalearners/cross_fit_estimator.py
  metalearners/data_generation.py
  metalearners/drlearner.py
  metalearners/explainer.py
  metalearners/metalearner.py
  metalearners/outcome_functions.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/utils.py
  metalearners/xlearner.py
  pixi.lock
  pixi.toml
  tests/conftest.py
  tests/test__utils.py
  tests/test_cross_fit_estimator.py
  tests/test_data_generation.py
  tests/test_learner.py
  tests/test_metalearner.py
  tests/test_outcome_functions.py
  tests/test_rlearner.py
  tests/test_slearner.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, prettier, typos

Fix license
  metalearners/metalearner_grid_search_cv.py
  tests/test_metalearner_grid_search_cv.py
Due: insert-license, docformatter, black-conda, typos

Add mypy nbs check
  .github/workflows/ci.yml
Due: prettier, typos

Add checkout
  .github/workflows/ci.yml
Due: prettier, typos

Add pixi run
  .github/workflows/ci.yml
Due: prettier, typos

Delete traces before pixi
  .github/workflows/ci.yml
Due: prettier, typos

Add os condition on codecov
  .github/workflows/ci.yml
Due: prettier, typos

Delete traces from migration to pixi (#27)
  .github/workflows/ci.yml
Due: prettier, typos

Add mypy notebooks check (#26)
  .github/workflows/ci.yml
Due: prettier, typos

Remove _validate_params and override __init__
  metalearners/metalearner.py
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, typos

Update CHANGELOG
  CHANGELOG.rst
Due: typos

Fix 'SLearner` feature set (#20)
  metalearners/metalearner.py
  metalearners/slearner.py
  tests/test_slearner.py
Due: insert-license, docformatter, black-conda, typos

Draft development page.
  docs/development.rst
  docs/index.rst
Due: typos

Fix formatting.
  docs/development.rst
Due: typos

Add missing postinstall.
  docs/development.rst
Due: typos

Add a development page to docs (#28)
  docs/development.rst
  docs/index.rst
Due: typos

Remove verbosity
  docs/examples/example_reuse.ipynb
Due: typos

Remove verbosity (#29)
  docs/examples/example_reuse.ipynb
Due: typos

Increase lower bound on sklearn.
  CHANGELOG.rst
  pixi.lock
  pixi.toml
  pyproject.toml
Due: typos

Enable Windows tests.
  .github/workflows/ci.yml
Due: prettier, typos

Use pandas' check for int.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, typos

Add option to evaluate treatment model in RLearner
  metalearners/metalearner.py
  metalearners/rlearner.py
  tests/test_learner.py
Due: insert-license, docformatter, black-conda, typos

Enable Windows unit tests in CI (#32)
  .github/workflows/ci.yml
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, prettier, typos

Parametrize evaluate (#8)
  CHANGELOG.rst
  metalearners/_typing.py
  metalearners/_utils.py
  metalearners/cross_fit_estimator.py
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/test_learner.py
Due: insert-license, docformatter, black-conda, typos

Update metalearners/metalearner_grid_search_cv.py
  metalearners/metalearner_grid_search_cv.py
Due: insert-license, docformatter, black-conda, typos

Path conditions:
  insert-license: any of: \.py$, but not: ^\.pixi
  docformatter: any of: \.py$, but not: ^\.pixi
  black-conda: any of: \.py$, but not: ^\.pixi
  prettier: any of: \.(md|yml|yaml)$, but not: ^\.pixi
  typos: any of: not (\.csv$), but not: ^\.pixi
