Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, prettier, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: insert-license
        name: insert-license
        entry: pixi run -e lint insert-license
        types: [python]
        language: system
        args:
          - --license-base64
          - IyBDb3B5cmlnaHQgKGMpIFF1YW50Q28gMjAyNC0yMDI0CiMgU1BEWC1MaWNlbnNlLUlkZW50aWZpZXI6IEJTRC0zLUNsYXVzZQo=
          - --dynamic-years
          - --comment-style
          - "#"
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter
        args: [-i]
        types: [python]
        language: system
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: black-conda
        name: black-conda
        entry: pixi run -e lint black
        language: system
        require_serial: true
        types: [python]
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier
        language: system
        files: \.(md|yml|yaml)$
        types: [text]
        args: ["--write", "--list-different", "--ignore-unknown"]
      - id: trailing-whitespace
        name: trim trailing whitespace
        language: system
        entry: pixi run -e lint trailing-whitespace-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        language: system
        entry: pixi run -e lint end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-merge-conflict
        name: check for merge conflicts
        language: system
        entry: pixi run -e lint check-merge-conflict
        types: [text]
        args: ["--assume-in-merge"]
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Centralize generation of default scoring (#22)
  metalearners/_typing.py
  metalearners/_utils.py
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, typos

Fix syntax error.
  .github/workflows/ci.yml
Due: prettier, typos

Add missing tasks.
  pixi.toml
Due: typos

Fix mypy job.
  .github/workflows/ci.yml
Due: prettier, typos

Bring back mypy pch.
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
Due: prettier, typos

Bring back mypy pch.
  pixi.lock
  pixi.toml
Due: typos

Remove redundant dependency.
  pixi.lock
  pixi.toml
Due: typos

Adapt readthedocs configuration.
  .readthedocs.yml
  environment.yml
Due: prettier, typos

Create docs environment.
  pixi.lock
  pixi.toml
Due: typos

Fix variable name
  docs/examples/example_optuna.ipynb
Due: typos

Update metalearners/metalearner.py
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, typos

Update metalearners/tlearner.py
  metalearners/tlearner.py
Due: insert-license, docformatter, black-conda, typos

Update metalearners/xlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, typos

Rename
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, typos

Rename
  metalearners/drlearner.py
Due: insert-license, docformatter, black-conda, typos

Rename
  metalearners/rlearner.py
Due: insert-license, docformatter, black-conda, typos

Rename
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, typos

Rename
  metalearners/tlearner.py
Due: insert-license, docformatter, black-conda, typos

Rename
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, typos

Rerun optuna
  docs/examples/example_optuna.ipynb
Due: typos

Fix docs task.
  pixi.lock
  pixi.toml
Due: typos

Use widetilde
  docs/background.rst
Due: typos

Add comment from code
  docs/examples/example_basic.ipynb
Due: typos

Improve shap example
  docs/examples/example_feature_importance_shap.ipynb
Due: typos

Add text about models
  docs/examples/example_basic.ipynb
Due: typos

Update metalearners/drlearner.py
  metalearners/drlearner.py
Due: insert-license, docformatter, black-conda, typos

Update metalearners/_utils.py
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, typos

Fix optuna example (#23)
  docs/examples/example_optuna.ipynb
Due: typos

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: prettier, typos

Update pixi.toml
  pixi.toml
Due: typos

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: prettier, typos

Update lock.
  pixi.lock
Due: typos

Remove redundant mypy step.
  .github/workflows/ci.yml
Due: prettier, typos

Fix unit test name.
  .github/workflows/ci.yml
Due: prettier, typos

Also update benchmark action.
  .github/workflows/benchmarks.yml
Due: prettier, typos
