Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: insert-license
        name: insert-license
        entry: pixi run -e lint insert-license
        types: [python]
        language: system
        args:
          - --license-base64
          - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
          - --dynamic-years
          - --comment-style
          - "#"
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter
        args: [-i]
        types: [python]
        language: system
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: black-conda
        name: black-conda
        entry: pixi run -e lint black
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier
        language: system
        files: \.(md|yml|yaml)$
        types: [text]
        args: ["--write", "--list-different", "--ignore-unknown"]
      - id: trailing-whitespace
        name: trim trailing whitespace
        language: system
        entry: pixi run -e lint trailing-whitespace-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        language: system
        entry: pixi run -e lint end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-merge-conflict
        name: check for merge conflicts
        language: system
        entry: pixi run -e lint check-merge-conflict
        types: [text]
        args: ["--assume-in-merge"]
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Update metalearners/xlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add type hints for cv-split-related attributes.
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

add support for csr matrix
  docs/examples/example_sparse_inputs.ipynb
  docs/examples/index.rst
  metalearners/_typing.py
  metalearners/_utils.py
  metalearners/cross_fit_estimator.py
  metalearners/drlearner.py
  metalearners/explainer.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/utils.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

first version of mk
  docs/background.md
Due: prettier, typos

Custom gitignore for docs
  docs/.gitignore
Due: typos

Remove sphinx remnant
  docs/conf.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add katex
  docs/javascripts/katex.js
  mkdocs.yml
Due: prettier, typos

Update math
  docs/background.md
  docs/background.rst
Due: prettier, typos

Fix list intendation
  docs/background.md
Due: prettier, typos

Appease mypy about notebook.
  docs/examples/example_sparse_inputs.ipynb
Due: typos

Reindent, remove escaped subscript
  docs/background.md
Due: prettier, typos

Dedent
  docs/background.md
Due: prettier, typos

Fix subscript
  docs/background.md
Due: prettier, typos

Draft usage of pixi task for notebook analysis.
  .github/workflows/ci.yml
  pixi.toml
Due: prettier, typos

Move logic to bash script.
  nb-convert.sh
  pixi.toml
Due: typos

Bring back the quotes.
  nb-convert.sh
Due: typos

Translate 'motivation' to markdown
  docs/motivation.md
  docs/motivation.rst
Due: prettier, typos

Translate 'faq' to markdown
  docs/faq.md
  docs/faq.rst
Due: prettier, typos

Draft usage of pixi task for notebook analysis. (#87)
  .github/workflows/ci.yml
  nb-convert.sh
  pixi.toml
Due: prettier, typos

Test against csr in test_cross_fit_estimator.py
  tests/test_cross_fit_estimator.py
Due: insert-license, docformatter, black-conda, mypy, typos

Test against csr in test_utils.py
  tests/test_cross_fit_estimator.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Adapt S-Learner to work with csr matrix.
  metalearners/slearner.py
  tests/test_slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Test against csr matrix in test_learner and test_metalearner.
  tests/test_learner.py
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

fix notebook metadata
  docs/examples/example_estimating_ates.ipynb
  docs/examples/example_sparse_inputs.ipynb
Due: typos

reduce sparse problem size for docs
  docs/examples/example_sparse_inputs.ipynb
Due: typos

Remove sphinx specific stuff
  docs/Makefile
  docs/_static/custom.css
  docs/make.bat
Due: typos

Add changelog and docu
  CHANGELOG.md
  CHANGELOG.rst
  docs/api_documentation.md
  docs/changelog.md
Due: prettier, typos

Port development to md
  docs/development.md
  docs/development.rst
Due: prettier, typos

Port glossary to md
  docs/glossary.md
  docs/glossary.rst
Due: prettier, typos

fix symlink
  docs/changelog.md
Due: prettier, typos

Port glossary to md
  docs/parallelism.md
  docs/parallelism.rst
  mkdocs.yml
Due: prettier, typos

Beautiful highlight for target
  docs/styles/custom.css
Due: typos

Format bullets as headings to be able to link to them
  docs/faq.md
Due: prettier, typos

Fix links
  docs/parallelism.md
Due: prettier, typos

Index page for examples
  docs/examples/index.md
  docs/examples/index.rst
Due: prettier, typos

Fix some math
  docs/background.md
Due: prettier, typos

Index more like sphinx
  docs/index.md
Due: prettier, typos

Add checkboxes example in motivation
  docs/motivation.md
  mkdocs.yml
Due: prettier, typos

Fix enumeration
  docs/parallelism.md
Due: prettier, typos

Add missing links to glossary
  docs/background.md
Due: prettier, typos
