Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: insert-license
        name: insert-license
        entry: pixi run -e lint insert-license
        types: [python]
        language: system
        args:
          - --license-base64
          - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
          - --dynamic-years
          - --comment-style
          - "#"
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter
        args: [-i]
        types: [python]
        language: system
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: black-conda
        name: black-conda
        entry: pixi run -e lint black
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier
        language: system
        files: \.(md|yml|yaml)$
        types: [text]
        args: ["--write", "--list-different", "--ignore-unknown"]
      - id: trailing-whitespace
        name: trim trailing whitespace
        language: system
        entry: pixi run -e lint trailing-whitespace-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        language: system
        entry: pixi run -e lint end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-merge-conflict
        name: check for merge conflicts
        language: system
        entry: pixi run -e lint check-merge-conflict
        types: [text]
        args: ["--assume-in-merge"]
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Mirror sphinx layout
  docs/index.md
Due: prettier, typos

Actual indent
  docs/index.md
Due: prettier, typos

Adjust pixi docs tasks
  .readthedocs.yml
  docs/development.md
  pixi.toml
Due: prettier, typos

Fixes
  docs/index.md
  mkdocs.yml
Due: prettier, typos

Adapt to mkdocs style (links, code, math)
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove target css selector
  docs/styles/custom.css
Due: typos

Set indent to 4 in prettier for markdown.
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierrc
  CHANGELOG.md
  README.md
  docs/background.md
  docs/examples/index.md
  docs/faq.md
  docs/motivation.md
Due: prettier, typos

Resolve link to notebook
  docs/index.md
Due: prettier, typos

Changes
  docs/examples/example_data_generation.ipynb
  docs/examples/example_estimating_ates.ipynb
  docs/examples/example_gridsearch.ipynb
  docs/examples/example_lime.ipynb
  docs/examples/example_propensity.ipynb
  docs/glossary.md
  docs/motivation.md
  metalearners/rlearner.py
  mkdocs.yml
  pixi.toml
Due: insert-license, docformatter, black-conda, mypy, prettier, typos

Check output cells of notebooks
  nb-output-exists.sh
Due: typos

Check outputs of example notebooks in CI.
  .github/workflows/ci.yml
  nb-output-check.sh
  pixi.toml
Due: prettier, typos

Remove sphinx specific identifiers for refs.
  docs/examples/example_feature_importance_shap.ipynb
  docs/examples/example_gridsearch.ipynb
  docs/examples/example_lime.ipynb
  docs/examples/example_onnx.ipynb
  docs/examples/example_optuna.ipynb
  docs/examples/example_propensity.ipynb
  docs/examples/example_reuse.ipynb
  docs/examples/example_sparse_inputs.ipynb
  docs/examples/index.md
Due: prettier, typos

Fix {math} in notebooks
  docs/examples/example_basic.ipynb
  docs/examples/example_data_generation.ipynb
  docs/examples/example_feature_importance_shap.ipynb
  docs/examples/example_lime.ipynb
Due: typos

Remove execute ignore since no notebook is executed.
  mkdocs.yml
Due: prettier, typos

Fix two remaining note blocks
  docs/examples/example_onnx.ipynb
Due: typos

Fix notes / warnings
  docs/examples/example_onnx.ipynb
Due: typos

Fix {ref} in notebooks
  docs/examples/example_feature_importance_shap.ipynb
  docs/examples/example_gridsearch.ipynb
  docs/examples/example_lime.ipynb
  docs/examples/example_onnx.ipynb
  docs/examples/example_optuna.ipynb
  docs/examples/example_propensity.ipynb
  docs/examples/example_reuse.ipynb
Due: typos

Fix all {term} refs to glossary in notebooks
  docs/examples/example_propensity.ipynb
  docs/examples/example_reuse.ipynb
  docs/examples/example_survival.ipynb
Due: typos

Capitalize bullets
  docs/motivation.md
Due: prettier, typos

Fix bash for loop with default option
  nb-convert.sh
Due: typos

Add outputs
  docs/examples/example_basic.ipynb
  docs/examples/example_estimating_ates.ipynb
  docs/examples/example_feature_importance_shap.ipynb
  docs/examples/example_lime.ipynb
  docs/examples/example_onnx.ipynb
  docs/examples/example_propensity.ipynb
  docs/examples/example_reuse.ipynb
  docs/examples/example_sparse_inputs.ipynb
  docs/examples/example_survival.ipynb
Due: typos

Open external links in new tab
  docs/javascripts/external_links.js
  mkdocs.yml
Due: prettier, typos

Fix docstrings sphinx format
  metalearners/_utils.py
  metalearners/cross_fit_estimator.py
  metalearners/data_generation.py
  metalearners/drlearner.py
  metalearners/explainer.py
  metalearners/grid_search.py
  metalearners/metalearner.py
  metalearners/outcome_functions.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/utils.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix headings of mkdocs not rendering if code block
  docs/examples/example_estimating_ates.ipynb
Due: typos

Fix code reference
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix sphinx class and method-like references
  docs/examples/example_basic.ipynb
  docs/examples/example_data_generation.ipynb
  docs/examples/example_estimating_ates.ipynb
  docs/examples/example_feature_importance_shap.ipynb
  docs/examples/example_gridsearch.ipynb
  docs/examples/example_lime.ipynb
  docs/examples/example_onnx.ipynb
  docs/examples/example_optuna.ipynb
  docs/examples/example_propensity.ipynb
  docs/examples/example_reuse.ipynb
  docs/examples/example_survival.ipynb
Due: typos

Update lockfile
  pixi.lock
Due: typos

Fix pre-commit
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  README.md
  docs/background.md
  docs/faq.md
  metalearners/_utils.py
  metalearners/cross_fit_estimator.py
  metalearners/data_generation.py
  metalearners/drlearner.py
  metalearners/explainer.py
  metalearners/outcome_functions.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/utils.py
  metalearners/xlearner.py
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, prettier, typos

Remove code for legacy sklearn versions.
  metalearners/metalearner.py
  tests/test__utils.py
  tests/test_cross_fit_estimator.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove code for legacy sklearn versions. (#104)
  metalearners/metalearner.py
  tests/test__utils.py
  tests/test_cross_fit_estimator.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix typo.
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

correct math in docs/background.md
  docs/background.md
Due: prettier, typos

Update docs/parallelism.md
  docs/parallelism.md
Due: prettier, typos

Correct Math
  docs/background.md
Due: prettier, typos

Disable protected method rendering in docs
  mkdocs.yml
Due: prettier, typos

Correct image
  docs/motivation.md
Due: prettier, typos

Add smarty extension for dash rendering via '--'.
  docs/examples/example_optuna.ipynb
  mkdocs.yml
Due: prettier, typos

Fix method reference name
  docs/parallelism.md
Due: prettier, typos

Fix title
  docs/examples/example_estimating_ates.ipynb
Due: typos

Fix image in notebook
  docs/examples/example_onnx.ipynb
  docs/imgs/onnx_netron.png
Due: typos
