Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: insert-license
        name: insert-license
        entry: pixi run -e lint insert-license
        types: [python]
        language: system
        args:
          - --license-base64
          - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
          - --dynamic-years
          - --comment-style
          - "#"
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter
        args: [-i]
        types: [python]
        language: system
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: black-conda
        name: black-conda
        entry: pixi run -e lint black
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier
        language: system
        files: \.(md|yml|yaml)$
        types: [text]
        args: ["--write", "--list-different", "--ignore-unknown"]
      - id: trailing-whitespace
        name: trim trailing whitespace
        language: system
        entry: pixi run -e lint trailing-whitespace-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        language: system
        entry: pixi run -e lint end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-merge-conflict
        name: check for merge conflicts
        language: system
        entry: pixi run -e lint check-merge-conflict
        types: [text]
        args: ["--assume-in-merge"]
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Fix windows errors
  metalearners/drlearner.py
  metalearners/rlearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Typo
  docs/examples/example_onnx.ipynb
Due: typos

Update metalearners/metalearner.py
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Refactor code
  docs/examples/example_onnx.ipynb
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/test_drlearner.py
  tests/test_rlearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix pchs
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add note about lightgbm
  docs/examples/example_onnx.ipynb
Due: typos

Fix text
  docs/examples/example_onnx.ipynb
Due: typos

Provide helper method to initiliaze a `MetaLearner` based on another `MetaLearner` (#71)
  CHANGELOG.rst
  metalearners/drlearner.py
  metalearners/metalearner.py
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update docs/examples/example_onnx.ipynb
  docs/examples/example_onnx.ipynb
Due: typos

Move fixed propensity model to utils.
  docs/examples/example_propensity.ipynb
  metalearners/utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add changelog entry.
  CHANGELOG.rst
Due: typos

Add tests.
  metalearners/utils.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix typo.
  docs/examples/example_propensity.ipynb
Due: typos

Fix class reference.
  docs/examples/example_propensity.ipynb
Due: typos

Edit.
  docs/examples/example_onnx.ipynb
Due: typos

Add netron visualization.
  docs/examples/example_onnx.ipynb
  docs/examples/imgs/onnx_netron.png
Due: typos

Remove state.
  docs/examples/example_onnx.ipynb
Due: typos

Add return type annotation.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Adapt phrasing of doc string and error message.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use md instead of html for image.
  docs/examples/example_onnx.ipynb
  docs/examples/onnx_netron.png
Due: typos

add method to compute ATEs using pseudo-outcomes
  CHANGELOG.rst
  docs/examples/example_estimating_ates.ipynb
  metalearners/drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

add deps for doc build
  docs/examples/example_estimating_ates.ipynb
  pixi.lock
  pixi.toml
Due: typos

Move fixed propensity model to utils. (#72)
  CHANGELOG.rst
  docs/examples/example_propensity.ipynb
  metalearners/utils.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

ONNX Interface (#39)
  CHANGELOG.rst
  docs/examples/example_onnx.ipynb
  docs/examples/index.rst
  docs/examples/onnx_netron.png
  metalearners/_utils.py
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  pixi.lock
  pixi.toml
  tests/conftest.py
  tests/test_drlearner.py
  tests/test_metalearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Adapt CI trigger to run on PR from fork.
  .github/workflows/ci.yml
Due: prettier, typos

Trigger on any tag, not only those prefixed with v.
  .github/workflows/ci.yml
Due: prettier, typos

Fix syntax.
  .github/workflows/ci.yml
Due: prettier, typos

Use default pull request types.
  .github/workflows/ci.yml
Due: prettier, typos

Adapt CI trigger to run on PR from fork. (#74)
  .github/workflows/ci.yml
Due: prettier, typos

address review comments
  CHANGELOG.rst
  docs/examples/example_estimating_ates.ipynb
  docs/examples/index.rst
  metalearners/drlearner.py
  pixi.lock
  tests/test_drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Generate new lock file.
  pixi.lock
Due: typos

Apply pchs.
  tests/test_drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Rename method from treatment_effects to average_treatment_effects.
  CHANGELOG.rst
  docs/examples/example_estimating_ates.ipynb
  metalearners/drlearner.py
  tests/test_drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add indicator for oos data.
  docs/examples/example_estimating_ates.ipynb
  metalearners/drlearner.py
  tests/test_drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Revert "Move fixed propensity model to utils. (#72)"
  CHANGELOG.rst
  docs/examples/example_propensity.ipynb
  metalearners/utils.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update pixi lock.
  pixi.lock
Due: typos
