Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: insert-license
        name: insert-license
        entry: pixi run -e lint insert-license
        types: [python]
        language: system
        args:
          - --license-base64
          - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
          - --dynamic-years
          - --comment-style
          - "#"
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter
        args: [-i]
        types: [python]
        language: system
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: black-conda
        name: black-conda
        entry: pixi run -e lint black
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier
        language: system
        files: \.(md|yml|yaml)$
        types: [text]
        args: ["--write", "--list-different", "--ignore-unknown"]
      - id: trailing-whitespace
        name: trim trailing whitespace
        language: system
        entry: pixi run -e lint trailing-whitespace-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        language: system
        entry: pixi run -e lint end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-merge-conflict
        name: check for merge conflicts
        language: system
        entry: pixi run -e lint check-merge-conflict
        types: [text]
        args: ["--assume-in-merge"]
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Fix `evaluate` with not `None` `feature_set` (#66)
  CHANGELOG.rst
  metalearners/_typing.py
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/test_learner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Apply suggestions from code review
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Split `fit` in `fit_all_nuisance` and `fit_all_treatment` (#64)
  CHANGELOG.rst
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add explanation grid_size_
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Improve memory usage of `MetaLearnerGridSearch` (#62)
  CHANGELOG.rst
  docs/examples/example_gridsearch.ipynb
  metalearners/grid_search.py
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update changelog.
  CHANGELOG.rst
Due: typos

Add survival analysis example (#38)
  data/readme.md
  data/rossi.csv
  docs/examples/example_survival.ipynb
  docs/examples/index.rst
  pixi.lock
  pixi.toml
Due: prettier, typos

Update lock file
  pixi.lock
Due: typos

Increase time limit
  docs/examples/example_gridsearch.ipynb
Due: typos

Increase time limit (#68)
  docs/examples/example_gridsearch.ipynb
Due: typos

Improve docstring
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update metalearners/metalearner.py
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Improve `fit_all_nuisance` and `fit_all_treatment` docstring (#69)
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fixed propensity example
  docs/examples/example_propensity.ipynb
  docs/examples/index.rst
Due: typos

Fix import
  docs/examples/example_propensity.ipynb
Due: typos

Update docs/examples/example_propensity.ipynb
  docs/examples/example_propensity.ipynb
Due: typos

Fix formating
  docs/examples/example_propensity.ipynb
Due: typos

Modify note
  docs/examples/example_propensity.ipynb
Due: typos

Fixed propensity example (#70)
  docs/examples/example_propensity.ipynb
  docs/examples/index.rst
Due: typos

Update metalearners/drlearner.py
  metalearners/drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use const instead of constant
  metalearners/rlearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update docs/examples/example_onnx.ipynb
  docs/examples/example_onnx.ipynb
Due: typos

Only check spox installed as depends on onnx
  metalearners/_utils.py
  metalearners/drlearner.py
  metalearners/rlearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Avoid indexing
  docs/examples/example_onnx.ipynb
  tests/test_drlearner.py
  tests/test_rlearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Provide helper method to initialize MetaLearner.
  metalearners/drlearner.py
  metalearners/metalearner.py
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix logic revolving around pre-fitted models.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add changelog entry.
  CHANGELOG.rst
Due: typos

Expand on docstring.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Compare attributes.
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix XLearner float value
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Make methods private
  CHANGELOG.rst
  docs/examples/example_onnx.ipynb
  metalearners/drlearner.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/test_drlearner.py
  tests/test_metalearner.py
  tests/test_rlearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Clarify what _build_onnx does
  docs/examples/example_onnx.ipynb
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos
