Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: insert-license
        name: insert-license
        entry: pixi run -e lint insert-license
        types: [python]
        language: system
        args:
          - --license-base64
          - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
          - --dynamic-years
          - --comment-style
          - "#"
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter
        args: [-i]
        types: [python]
        language: system
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: black-conda
        name: black-conda
        entry: pixi run -e lint black
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier
        language: system
        files: \.(md|yml|yaml)$
        types: [text]
        args: ["--write", "--list-different", "--ignore-unknown"]
      - id: trailing-whitespace
        name: trim trailing whitespace
        language: system
        entry: pixi run -e lint trailing-whitespace-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        language: system
        entry: pixi run -e lint end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-merge-conflict
        name: check for merge conflicts
        language: system
        entry: pixi run -e lint check-merge-conflict
        types: [text]
        args: ["--assume-in-merge"]
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Add 12.0 in md changelog, get rid of rst changelog
  CHANGELOG.md
  CHANGELOG.rst
Due: prettier, typos

precommit fixes
  CHANGELOG.md
  mkdocs.yml
Due: prettier, typos

Rework handling of categories in S-Learner.
  metalearners/_utils.py
  metalearners/slearner.py
  tests/test_slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Rename and add doc strings.
  metalearners/_utils.py
  metalearners/slearner.py
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix test.
  metalearners/_utils.py
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Move infer_native_namespace to _narwhals_utils module.
  metalearners/_utils.py
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add _narwhals_utils module.
  metalearners/_narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Rename and adapt interface.
  metalearners/_narwhals_utils.py
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove dead code.
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Test _narwhals_utils.
  metalearners/_narwhals_utils.py
  metalearners/slearner.py
  tests/test__narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Test _np_to_dummies.
  metalearners/_narwhals_utils.py
  metalearners/slearner.py
  tests/test__narwhals_utils.py
  tests/test_slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Test specific _append_treatment_ functions separately for easier navigation.
  tests/test_slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix indexing issue.
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Get rid of branching.
  tests/test__narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Cast bool index to int.
  tests/test__narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use constant instead of value.
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Provide svg files with white background.
  docs/imgs/component_eval_white.drawio.svg
  docs/imgs/component_reuse_white.drawio.svg
  docs/imgs/covariate_sets_white.drawio.svg
Due: typos

Move _stringify_column_names to _narwhals_utils.
  metalearners/_narwhals_utils.py
  metalearners/slearner.py
  tests/test__narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add docstring.
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use schema at creation instead of rename after creation.
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add type hint for native_namespace parameter.
  metalearners/_narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Integrate dark mode images, add padding
  docs/imgs/component_eval_white.drawio.svg
  docs/imgs/component_reuse_white.drawio.svg
  docs/imgs/covariate_sets_white.drawio.svg
  docs/motivation.md
Due: prettier, typos

Add reference link to snippet
  docs/javascripts/katex.js
Due: typos

Add reference to link snippet
  docs/javascripts/external_links.js
Due: typos

site_desc and site_url for SEO
  mkdocs.yml
Due: prettier, typos

Remove unecessary / cleared things
  mkdocs.yml
Due: prettier, typos

Pre-commit
  docs/imgs/component_eval_white.drawio.svg
  docs/imgs/component_reuse_white.drawio.svg
  docs/imgs/covariate_sets_white.drawio.svg
  docs/motivation.md
  tests/test_cross_fit_estimator.py
Due: insert-license, docformatter, black-conda, mypy, prettier, typos

Remove unnecessary ignores
  docs/index.md
Due: prettier, typos

Rework handling of categories in S-Learner. (#105)
  metalearners/_narwhals_utils.py
  metalearners/_utils.py
  metalearners/slearner.py
  tests/test__narwhals_utils.py
  tests/test__utils.py
  tests/test_slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove dead breakpoint.
  metalearners/tlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Enable mypy.
  metalearners/_utils.py
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Replace black with ruff
  pixi.lock
  pixi.toml
Due: typos

Removing log
  docs/javascripts/external_links.js
Due: typos

Bash script improvements
  nb-convert.sh
  nb-output-check.sh
Due: typos

FUrhter bash improvements
  nb-convert.sh
Due: typos

Make nb script executable
  nb-output-check.sh
Due: typos

Fix bash script invokation
  pixi.toml
Due: typos

Improve bash script
  nb-convert.sh
Due: typos

Include csr_matrix in check for matrix.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update metalearners/_narwhals_utils.py
  metalearners/_narwhals_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos
