Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license
  language: system
  args:
  - --license-base64
  - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
  - --dynamic-years
  - --comment-style
  - '#'

docformatter:
  name: docformatter
  entry: pixi run -e lint docformatter
  args:
  - -i
  language: system

black-conda:
  name: black-conda
  entry: pixi run -e lint black
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e default mypy
  language: system
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

prettier:
  name: prettier
  entry: pixi run -e lint prettier
  language: system
  args:
  - --write
  - --list-different
  - --ignore-unknown

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

Prettier
  CHANGELOG.md
  docs/examples/index.md
Due: prettier, typos

Remove custom target css, add note what this css selector does
  docs/styles/custom.css
Due: typos

Fix links
  docs/background.md
  docs/motivation.md
  docs/parallelism.md
Due: prettier, typos

Remove index.rst again.
  docs/examples/index.rst
Due: typos

Fix math and math in enumerations (with indentation)
  docs/background.md
Due: prettier, typos

Remove target css selector
  docs/styles/custom.css
Due: typos

Fix links
  docs/examples/index.md
  docs/index.md
  docs/index.rst
  docs/motivation.md
Due: prettier, typos

Add missing links to glossary
  docs/background.md
Due: prettier, typos

Resolve link to notebook
  docs/index.md
Due: prettier, typos

Update docs/styles/custom.css
  docs/styles/custom.css
Due: typos

Check outputs of example notebooks in CI.
  .github/workflows/ci.yml
  nb-output-check.sh
  pixi.toml
Due: prettier, typos

Add outputs
  docs/examples/example_basic.ipynb
  docs/examples/example_estimating_ates.ipynb
  docs/examples/example_feature_importance_shap.ipynb
  docs/examples/example_lime.ipynb
  docs/examples/example_onnx.ipynb
  docs/examples/example_propensity.ipynb
  docs/examples/example_reuse.ipynb
  docs/examples/example_sparse_inputs.ipynb
  docs/examples/example_survival.ipynb
Due: typos

Fix bash for loop with default option
  nb-convert.sh
Due: typos

Adapt import.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Adapt import of check_X_y to comply with scikit-learn 1.6 (#96)
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update lock.
  pixi.lock
  pixi.toml
Due: typos

Move from build to python-build.
  pixi.lock
  pixi.toml
Due: typos

Fix typo.
  metalearners/rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update pch stages.
  .pre-commit-config.yaml
Due: prettier, typos

Impose upper bound on sklearn
  pixi.lock
  pixi.toml
Due: typos

Update lock. (#97)
  .pre-commit-config.yaml
  metalearners/rlearner.py
  pixi.lock
  pixi.toml
Due: insert-license, docformatter, black-conda, mypy, prettier, typos

Update changelog.
  CHANGELOG.rst
Due: typos

Fix flaky test.
  pixi.toml
  tests/test_rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Reapply pchs.
  metalearners/grid_search.py
  pixi.lock
  tests/test_rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix flaky test. (#99)
  metalearners/grid_search.py
  pixi.lock
  pixi.toml
  tests/test_rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix type annotation.
  metalearners/grid_search.py
  metalearners/utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use narwhals for indexing utils.
  metalearners/_utils.py
  pixi.lock
  pixi.toml
Due: insert-license, docformatter, black-conda, mypy, typos

Return early.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use narwhals for subselection of columns.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use narwhals for conversion of treatment assignments.
  metalearners/utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use narwhals in slearner.
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use narwhals in treatment conversion.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add polars as test dependency.
  pixi.lock
  pixi.toml
Due: typos

Add polars to append_treatment test.
  metalearners/slearner.py
  pixi.lock
  pixi.toml
  tests/test_slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Don't convert column name types.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add polars backend to test_feature_set.
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Handle ints feature set lookup.
  metalearners/metalearner.py
  tests/test_metalearner.py
  tests/test_slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Test indexing against polars.
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Test fixed_binary_propensity against polars.
  tests/test__utils.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add polars backend to test_crossfitestimator_oos_smoke.
  tests/test_cross_fit_estimator.py
Due: insert-license, docformatter, black-conda, mypy, typos

Path conditions:
  insert-license: any of: \.py$, but not: ^\.pixi
  docformatter: any of: \.py$, but not: ^\.pixi
  black-conda: any of: \.py$, but not: ^\.pixi
  mypy: any of: \.py$, but not: ^\.pixi
  prettier: any of: \.(md|yml|yaml)$, but not: ^\.pixi
  typos: any of: not (\.csv$), but not: ^\.pixi
