Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license
  language: system
  args:
  - --license-base64
  - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
  - --dynamic-years
  - --comment-style
  - '#'

docformatter:
  name: docformatter
  entry: pixi run -e lint docformatter
  args:
  - -i
  language: system

black-conda:
  name: black-conda
  entry: pixi run -e lint black
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e default mypy
  language: system
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

prettier:
  name: prettier
  entry: pixi run -e lint prettier
  language: system
  args:
  - --write
  - --list-different
  - --ignore-unknown

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

Recover bash
  README.md
Due: prettier, typos

Refactor to not overwrite input
  metalearners/_utils.py
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/test_rlearner.py
  tests/test_tlearner.py
  tests/test_xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Recover development in docs and add link
  README.md
  docs/development.rst
  docs/index.rst
Due: prettier, typos

Recover spaces
  docs/development.rst
Due: typos

Update CHANGELOG.rst
  CHANGELOG.rst
Due: typos

Update metalearners/grid_search.py
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove conda recipe.
  conda.recipe/recipe.yaml
Due: prettier, typos

Remove conda recipe. (#41)
  conda.recipe/recipe.yaml
Due: prettier, typos

Add link to development section to readme (#40)
  README.md
Due: prettier, typos

Adapt var name
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use &
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use ParameterGrid in fit and not init
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use fixture grid_search_data
  tests/conftest.py
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add docc about results_
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Index dataframe with config
  metalearners/grid_search.py
  tests/test_grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update metalearners/_utils.py
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Consistent docs
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add return type
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Draft usage of PyPI action.
  .github/workflows/package.yml
Due: prettier, typos

Fix reference.
  .github/workflows/package.yml
Due: prettier, typos

Install build.
  .github/workflows/package.yml
Due: prettier, typos

Create dedicated build feature.
  .github/workflows/package.yml
  pixi.lock
  pixi.toml
Due: prettier, typos

Properly create environment.
  pixi.lock
  pixi.toml
Due: typos

Add name to artifact.
  .github/workflows/package.yml
Due: prettier, typos

Add value proposition and example to readme.
  README.md
Due: prettier, typos

Update .github/workflows/package.yml
  .github/workflows/package.yml
Due: prettier, typos

Bring back setuptools dependencies to default environment.
  pixi.lock
  pixi.toml
Due: typos

Rename kwargs to metalerner_fit_params
  metalearners/grid_search.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix statement.
  README.md
Due: prettier, typos

Add a PyPI upload action (#43)
  .github/workflows/package.yml
  pixi.lock
  pixi.toml
Due: prettier, typos

Implement onnx DRLearner and tests
  metalearners/drlearner.py
  tests/test_drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Path conditions:
  insert-license: any of: \.py$, but not: ^\.pixi
  docformatter: any of: \.py$, but not: ^\.pixi
  black-conda: any of: \.py$, but not: ^\.pixi
  mypy: any of: \.py$, but not: ^\.pixi
  prettier: any of: \.(md|yml|yaml)$, but not: ^\.pixi
  typos: any of: not (\.csv$), but not: ^\.pixi
