Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: insert-license
        name: insert-license
        entry: pixi run -e lint insert-license
        types: [python]
        language: system
        args:
          - --license-base64
          - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
          - --dynamic-years
          - --comment-style
          - "#"
      - id: docformatter
        name: docformatter
        entry: pixi run -e lint docformatter
        args: [-i]
        types: [python]
        language: system
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: black-conda
        name: black-conda
        entry: pixi run -e lint black
        language: system
        require_serial: true
        types: [python]
      - id: mypy
        name: mypy
        entry: pixi run -e default mypy
        language: system
        types: [python]
        args: ["--ignore-missing-imports", "--scripts-are-modules"]
        require_serial: true
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier
        language: system
        files: \.(md|yml|yaml)$
        types: [text]
        args: ["--write", "--list-different", "--ignore-unknown"]
      - id: trailing-whitespace
        name: trim trailing whitespace
        language: system
        entry: pixi run -e lint trailing-whitespace-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        name: fix end of files
        language: system
        entry: pixi run -e lint end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-merge-conflict
        name: check for merge conflicts
        language: system
        entry: pixi run -e lint check-merge-conflict
        types: [text]
        args: ["--assume-in-merge"]
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Fix notebook.
  docs/examples/example_estimating_ates.ipynb
Due: typos

Remove jupyter magic.
  docs/examples/example_estimating_ates.ipynb
Due: typos

Add average_treatment_effect method to DR-Learner (#73)
  CHANGELOG.rst
  docs/examples/example_estimating_ates.ipynb
  docs/examples/index.rst
  metalearners/drlearner.py
  pixi.lock
  pixi.toml
  tests/test_drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix test class signature.
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update changelog.
  CHANGELOG.rst
Due: typos

Fix test class signature. (#75)
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Return tuple of arrays instead of concatenated arrays.
  docs/examples/example_estimating_ates.ipynb
  metalearners/drlearner.py
  tests/test_drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Prepare release 0.9.0 (#76)
  CHANGELOG.rst
  docs/examples/example_estimating_ates.ipynb
  metalearners/drlearner.py
  tests/test_drlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Enable R-Learner for tests.
  tests/test_learner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add method to MetaLearner class.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Draft predict_conditional_average_outcomes method for R-Learner.
  metalearners/rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix PR-unrelated typo in changelog.
  CHANGELOG.rst
  metalearners/rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add changelog entry.
  CHANGELOG.rst
Due: typos

Fix shape issue.
  metalearners/rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Mention estimation approach in doc string.
  metalearners/rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix typo.
  metalearners/rlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Update benchmark values.
  benchmarks/readme.md
Due: prettier, typos

Fix S-Learner's leakage.
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix date in changelog.
  CHANGELOG.rst
Due: typos

Fix S-Learner's leakage (#79)
  CHANGELOG.rst
  benchmarks/readme.md
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, prettier, typos

Remove duplicated docstrings.
  metalearners/metalearner.py
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add `predict_conditional_average_outcomes` method to R-Learner (#78)
  CHANGELOG.rst
  metalearners/metalearner.py
  metalearners/rlearner.py
  metalearners/slearner.py
  tests/test_learner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove sphinx specific formatting, adjust heading syntax
  docs/examples/example_basic.ipynb
Due: typos

Add mkdocs deps and 'mkdocs' task.
  pixi.lock
  pixi.toml
Due: typos

Add configuration to demonstrate rendering a jupyter notebook
  docs/examples/index.md
  docs/index.md
  docs/styles/custom.css
  mkdocs.yml
Due: prettier, typos

Reuse conditional average outcome estimates for X-Learner pseudo outcome.
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Reuse conditional average outcome estimates for X-Learner pseudo outcome. (#83)
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Reorder examples to match order in sphinx. Skip costly optuna jn execution.
  docs/examples/index.md
  mkdocs.yml
Due: prettier, typos

Draft usage of same splits in all models.
  metalearners/cross_fit_estimator.py
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Clean up.
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix attribute reference.
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Filter properly.
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix out-of-sample evaluate.
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix in-sample evaluate.
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Adapt synchronization-related tests.
  metalearners/xlearner.py
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove redundant benchmark condition.
  benchmarks/benchmark.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove redundant benchmark condition. (#85)
  benchmarks/benchmark.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix cao estimation only taking place for seen variant.
  metalearners/xlearner.py
Due: insert-license, docformatter, black-conda, mypy, typos
