Repository Quantco/metalearners: changes, and which pre-commit hooks are due for each by the changed paths.
All: insert-license, docformatter, black-conda, mypy, prettier, typos

insert-license:
  name: insert-license
  entry: pixi run -e lint insert-license
  language: system
  args:
  - --license-base64
  - Q29weXJpZ2h0IChjKSBRdWFudENvIDIwMjQtMjAyNApTUERYLUxpY2Vuc2UtSWRlbnRpZmllcjogQlNELTMtQ2xhdXNl
  - --dynamic-years
  - --comment-style
  - '#'

docformatter:
  name: docformatter
  entry: pixi run -e lint docformatter
  args:
  - -i
  language: system

black-conda:
  name: black-conda
  entry: pixi run -e lint black
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e default mypy
  language: system
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

prettier:
  name: prettier
  entry: pixi run -e lint prettier
  language: system
  args:
  - --write
  - --list-different
  - --ignore-unknown

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

Add polars backend to test_validate_outcome_* tests.
  tests/test_metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix docstring.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add polars backend to test_evaluate_feature_set_smoke.
  tests/test_learner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Properly filter vectors if boolean mask is given.
  metalearners/_utils.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Subselect with index helper.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add test case for boolean masking.
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Support boolean masking for matrices.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Adapt learners to handle non-np, non-pd input datastructures.
  metalearners/_utils.py
  metalearners/drlearner.py
  metalearners/rlearner.py
  metalearners/tlearner.py
  metalearners/xlearner.py
  tests/test_cross_fit_estimator.py
  tests/test_learner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Split run and development dependencies.
  pixi.lock
  pixi.toml
Due: typos

Bring back mypy.
  pixi.lock
  pixi.toml
Due: typos

Add dev feature to docs environment.
  pixi.lock
  pixi.toml
Due: typos

Bring back nbconvert.
  pixi.lock
  pixi.toml
Due: typos

Turn git_root into a dev dependency.
  pixi.lock
  pixi.toml
Due: typos

Move lime from run dependencies.
  pixi.lock
  pixi.toml
Due: typos

Define host-dependencies.
  pixi.lock
  pixi.toml
Due: typos

Decouple run and development dependencies. (#102)
  pixi.lock
  pixi.toml
Due: typos

Remove redundant tolist invocations.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use nth for collection of ints.
  metalearners/metalearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Bring back necessary tolist call.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix test.
  metalearners/_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Lower-bound xgboost to newest release.
  metalearners/grid_search.py
  metalearners/metalearner.py
  pixi.lock
  pixi.toml
Due: insert-license, docformatter, black-conda, mypy, typos

Adapt to new default value.
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Lower-bound xgboost to newest release. (#103)
  metalearners/grid_search.py
  metalearners/metalearner.py
  pixi.lock
  pixi.toml
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Always specify eager_only=True in nw.from_native.
  metalearners/_utils.py
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Adapt comments.
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use stable api.
  metalearners/_utils.py
  metalearners/metalearner.py
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Address TODO.
  metalearners/slearner.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add TODO.
  metalearners/_typing.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix typo.
  metalearners/_typing.py
Due: insert-license, docformatter, black-conda, mypy, typos

Use polars for typing.
  metalearners/_typing.py
  pixi.lock
  pixi.toml
Due: insert-license, docformatter, black-conda, mypy, typos

Don't ignore typing.
  tests/test_metalearner.py
  tests/test_slearner.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Add more tests against polars.
  tests/test__utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Fix import.
  tests/test_metalearner.py
  tests/test_utils.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove sphinx specific formatting, adjust heading syntax
  docs/examples/example_basic.ipynb
Due: typos

Add mkdocs deps and 'mkdocs' task.
  pixi.toml
Due: typos

Fix subscript
  docs/background.md
Due: prettier, typos

Add changelog and docu
  CHANGELOG.md
  docs/api_documentation.md
  docs/changelog.md
Due: prettier, typos

Remove sphinx remnant
  docs/conf.py
Due: insert-license, docformatter, black-conda, mypy, typos

Remove sphinx specific stuff
  docs/Makefile
  docs/_static/custom.css
  docs/make.bat
Due: typos

Path conditions:
  insert-license: any of: \.py$, but not: ^\.pixi
  docformatter: any of: \.py$, but not: ^\.pixi
  black-conda: any of: \.py$, but not: ^\.pixi
  mypy: any of: \.py$, but not: ^\.pixi
  prettier: any of: \.(md|yml|yaml)$, but not: ^\.pixi
  typos: any of: not (\.csv$), but not: ^\.pixi
